#main-jumbotron{
  padding: 0px
  /* background-image: url("BackdropSmall.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%; */
}

#main-jumbotron img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
}

@media (max-width: 768px) {
  #main-jumbotron img{
    width: 100vw;
  }
  body{
    font-size: 0.8rem;
  }
}

body {
  background-color: #D2D3D2;
}


@media (max-width:767px){
  .divider {
        height: 1px;
        margin: 2px 0px;
        overflow: hidden;
        background-color: #e5e5e5;
    }
}




/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modalImage {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-contentImage {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-contentImage, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 60px;
  right: 50px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

p { margin: 1%;
}
